/* === 校准 === */

/* 校准按钮组 */
.calibration-buttons {
    display: flex;
    gap: var(--spacing-medium);
}

.calibration-buttons #calibrate-btn {
    flex-grow: 1;
}

.calibration-buttons button {
    flex-shrink: 1;
    padding: var(--spacing-small);
}

/* 校准按钮样式 */
.calibrate-button {
    background-color: var(--accent-green);
    border-color: var(--accent-green);
    margin-right: var(--spacing-medium);
}

.calibrate-button:hover {
    background-color: #60b060;
    border-color: #60b060;
}

.calibrate-button:active {
    background-color: #50a050;
    border-color: #50a050;
}

/* 校准结果 */
#calibration-result-value {
    text-align: right;
    flex-grow: 1;
    display: inline-block;
    width: auto;
}

/* 校准按钮图标 */
#calibrate-btn i {
    margin-right: var(--spacing-small);
    width: 1em;
    text-align: center;
    vertical-align: middle;
} 